# Файлы виртуального окружения
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Git
.git/
.gitignore

# IDE файлы
.vscode/
.idea/

# Другие временные файлы
*.log
*.tmp
.DS_Store

# База данных (если хотите создать заново в контейнере)
# glossary.db

